.root {
    -fx-background-color: linear-gradient(#111 50%, #333 100%);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.check-box {
    -fx-cursor:hand;
    -fx-text-fill: transparent;
    -fx-min-width: 54px;
    -fx-min-height: 54px;
    -fx-background-size: contain;
}
.check-box .box{
    -fx-scale-x:0;
    -fx-scale-y:0;
}
.check-box:selected{
    -fx-scale-x:1.2;
    -fx-scale-y:1.2;
}

.label {
    -fx-min-width: 200px;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18px;
}
.roundsLabel {
    -fx-min-width: 300px;
}

.list-view {
    -fx-max-width: 200px;
    -fx-background-color: transparent;
}

.bigList {
    -fx-min-height: 450px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-alignment: center;
}
.roundsList .list-cell {
    -fx-alignment: baseline-left;
}

.button {
    -fx-cursor: hand;
    -fx-padding: 8px 12px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-text-fill:#41EAD4;
    -fx-border-color: #41EAD4;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.button:hover {
    -fx-text-fill: white;
    -fx-background-color: #41EAD4;
}
.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.btn-blue {
    -fx-text-fill: white;
    -fx-background-color: #41EAD4;
}
.btn-red {
    -fx-text-fill: white;
    -fx-background-color: #F71735;
    -fx-border-color: #F71735;
}
.btn-red:hover {
    -fx-background-color: #F71735;
}

.goBackBtn {
    -fx-font-fmaily: "Comic Sans MS";
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-background-color: transparent;
    -fx-padding: 5px 15px;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
}
.goBackBtn:hover {
    -fx-background-color: rgba(255,255,255,.2);
    -fx-border-color: rgba(255,255,255,.2);
}

.goToGameBtn {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 2em;
    -fx-font-weight: bolder;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-padding: 5px 10px;
    -fx-border-color: #41EAD4;
    -fx-border-width: 1px;
    -fx-text-fill: #41EAD4;
    -fx-background-color: transparent;
}
.goToGameBtn:hover {
    -fx-background-color: #41EAD4;
    -fx-text-fill: white;
}

.text-field {
    -fx-max-width: 300px;
    -fx-text-fill: white;
    -fx-background-color: #444;
    -fx-padding: 8px 12px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.valErrorLabel {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: red;
    -fx-font-size: 1.1em;
    -fx-text-weight: bolder;
}

.fieldValError {
    -fx-border-color:red;
}

.signUpBtn {
    -fx-text-fill: #41EAD4;
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.signUpBtn:hover {
    -fx-text-fill: blue;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.signUpBtn:pressed {
    -fx-text-fill: red;
}